@model IEnumerable<OnlineStore.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <form method="POST">
        <select name="orderState" asp-items="@Html.GetEnumSelectList<OrderState>()" class="form-control col-3">
            <option selected>All</option>
        </select>
        @if (ViewBag.orderDate != null)
        {
            <input type="date" te" name="orderDate" class="form-control" value="@ViewBag.orderDate.ToString("yyyy-MM-dd")" />
        }
        else
        {
            <input type="date" name="orderDate" class="form-control" />
        }

        @if (ViewBag.shippingDate != null)
        {
            <input type="date" te" name="shippingDate" class="form-control" value="@ViewBag.shippingDate.ToString("yyyy-MM-dd")" />
        }
        else
        {
            <input type="date" name="shippingDate" class="form-control" />
        }

        @if (ViewBag.arrivalDate != null)
        {
            <input type="date" te" name="arrivalDate" class="form-control" value="@ViewBag.arrivalDate.ToString("yyyy-MM-dd")" />
        }
        else
        {
            <input type="date" name="arrivalDate" class="form-control" />
        }
        <input type="submit" value="filter" class="btn btn-primary col-3" />
    </form>
    <form>
        <input onclick="this.form.submit()" type="submit" value="reset filters" class="btn btn-primary col-3" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.OrderState)*@
                <form method="POST" action="Orders/UpdateOrderState">
                    <input type="hidden" name="id" value="@item.OrderId">
                    <select onchange="this.form.submit();" name="orderState" asp-for="@item.OrderState" asp-items="@Html.GetEnumSelectList<OrderState>()" class="form-control"></select>
                </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Fname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
